
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    margin-bottom: 0px;
}
.home {
    padding-top: 10px;
}

.textarea {
    padding-top: 50px;
    padding-left: 200px;
}

.title {
    margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0px;
}

hr
{
color: #C0CAD0;
background-color: #C0CAD0;
height: 1px;
}