{{ define "articles" }}
<div class="row">
    <div class="col-md-8">
        <h1 class="page-header">Meta Codez <small>mtcodez</small></h1>

        {{ range $article := .articles }}
        <h2>
            <a href="#">{{$article.Title}}</a>
        </h2>
        <p class="lead">
            by <a href="#">{{$article.Author}}</a>
        </p>       
        <hr>
        <p>{{$article.Contents}}</p>
        <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
        {{ end }}
    </div>
</div>  
{{ end }}
