{{ define "base" }}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mante Luo">
    
    <title>{{ template "title" .}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link href="/static/css/home.css" rel="stylesheet">

    {{template "header" .}}
</head>

<body>
    {{ template "nav" .}}
    <div class="home container">
        <div class="row">
            {{template "sidebar" .}}
            {{ template "body" .}}
        </div>
        <!-- Footer -->
        <hr>
        <footer class="footer">            
            <div class="container">
                <p class="lead">Copyright &copy; Mante Luo 2014</p>
            </div>
        </footer>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    {{template "script" .}}
</body> </html>
{{ end }}

<!-- optional variable -->
{{define "script"}}{{end}}
{{define "header"}}{{end}}
{{define "sidebar"}}{{end}}
